.cards-blog-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.column-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.column-main .cards-blog img {
  height: 60%;
  object-fit: cover;
}

.column-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cards-blog {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(77, 25, 149, 0.05);
  border: 1px solid rgba(101, 38, 190, 0.212);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  height: 400px;
}

.cards-blog:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(77, 25, 149, 0.1);
}
.column-main .cards-blog {
  height: 820px;
}

.cards-blog img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cards-blog-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  height: 100%;
}

.cards-blog-title {
  font-size: 1.2rem;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards-blog-description {
  font-size: 1rem;
  color: #cccccc;
}

.cards-blog-date {
  font-size: 0.9rem;
  color: #aaa;
}

/* Responsividade */
@media (max-width: 1024px) {
  .cards-blog-container {
    grid-template-columns: 1fr;
  }
  .column-secondary {
    grid-template-columns: 1fr;
  }
}

.wrapper-button-blog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#load-more {
  padding: 10px;
  background: none;

  background-color: rgba(77, 25, 149, 0.05);
  border: 1px solid rgba(101, 38, 190, 0.212);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

#blog .building-title {
  color: rgba(236, 14, 25, 0.911);
  font-weight: bold;
}
